<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>File Download</title>
    <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>File Download!</h1>
    {{alldocs}}
    {% for filename in alldocs %}
      {% if filename %}
      
          <img src="{{url_for('static', filename='filename') }}">

          <a href = "{{ filename }}" download>{{filename}}</a> 
      {% endif %}
    {% endfor %}

  </body>
</html>

